@charset "utf-8";
*{box-sizing: border-box;}
html, body{margin: 0;padding: 0;}
header, section, article, aside, nav, main, footer{display: block;}
header:after, section:after, article:after, aside:after, nav:after, main:after, footer:after{content:"";display: block;clear: both;}
h1, h2, h3, h4, h5, h6, p{font-size: 100%;margin: 0;}
ul, ol{margin:0;padding:0;list-style:none;}
a{text-decoration:none;color:inherit;}
.clear{clear:both;}

#products{}
#products .total_pd{width: 1200px;height: auto;margin: 0 auto;padding: 20px 0;}
#products .total_pd .sort_button{padding-bottom: 20px;}
#products .total_pd .sort_button button{padding: 10px 20px;background: #ffffff;border: 1px solid #000;border-radius: 4px;cursor: pointer;}
#products .total_pd .sort_button button:hover, #products .total_pd .sort_button button.active{background: #aaaaaa;}

/*셀렉트박스*/
#products .total_pd .sort_button .sort_sel{padding: 10px 20px;background: #ffffff;border: 1px solid #000;border-radius: 4px;cursor: pointer;background-image: url(../img/arrow-down.png);background-position: 90% 50%;background-size: auto 14px;background-repeat: no-repeat;-webkit-appearance: none;appearance: none;}

.pd_frame{width: 100%;height: auto;padding: 20px 20px 0;border: 1px solid #bbb;display: flex;justify-content: flex-start;flex-direction: row;align-items: flex-start;flex-wrap: wrap;}
.pd_frame .pd_box{width: calc(25% - 20px);height: auto;border-bottom: 1px solid #000;padding: 10px;margin: 0 10px;background: #ffffff;box-shadow: 0 0 4px #aaa;}
.pd_frame .pd_box .pd_photo{width: 100%;height: 200px;overflow: hidden;position: relative;}
.pd_frame .pd_box .pd_photo img{height: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);} /*이미지가 제대로 들어오도록*/

.pd_frame .pd_box .pd_info{width: 100%;height: auto;}
.pd_frame .pd_box .pd_info .pd_title{font-size: 20px;color: #555555;padding-top: 10px;}
.pd_frame .pd_box .pd_info .pd_text{font-size: 16px;color: #888888;padding: 10px 0;}
.pd_frame .pd_box .pd_info .pd_etc{width: 100%;height: auto;border-top: 1px solid #bbb;display: flex;justify-content: space-between;} /*sb써서 양옆으로*/
.pd_frame .pd_box .pd_info .pd_etc .pd_price{font-size: 16px;font-weight: 700;}
.pd_frame .pd_box .pd_info .pd_etc .pd_date{font-size: 14px;}
.pd_frame .pd_box .pd_info .fav{font-weight: 700;text-align: right;padding: 0 0 10px;}
.pd_frame .pd_box .pd_info .fav span{color: red;font-size: 18px;}

.pager{padding: 20px 0;text-align: center;font-size: 0;}
.pager li{width: 36px;font-size: 17px;border-right: 1px solid #888;line-height: 1;display: inline-block;padding: 0 5px;cursor: pointer;font-weight: 700;}
.pager li:last-child{border: none;}
.pager li.active{color: red;}
